<% if @result %>
<div class="mt-5">
  <h1>Result</h1>
  <table class="table table-striped">
    <tr
    <% if @model.purchase_price.to_i > 0 %>
      <tr>
        <td>Tax due after sale if 1031</td>
        <td><%= number_to_currency(@result.original_property_tax_amount) %></td>
        <td><%= (@result.original_property_effective_tax_rate * 100).round(1) %>% effective tax rate</td>
      </tr>
      <tr>
        <td>Tax deferred by 1031</td>
        <td><%= number_to_currency(@result.purchase_property_tax_amount) %></td>
        <td><%= (@result.purchase_property_effective_tax_rate * 100).round(1) %>% effective tax rate</td>
      </tr>
      <tr>
        <td>Total tax after sale of 1031 property</td>
        <td><%= number_to_currency(@result.total_tax) %></td>
        <td><%= (@result.total_effective_tax_rate * 100).round(1) %>% effective tax rate</td>
      </tr>
    <% end %>
    <tr>
      <td>Total tax WITHOUT 1031</td>
      <td><%= number_to_currency(@result.total_tax_without_1031) %></td>
      <td><%= (@result.total_effective_tax_rate_without_1031 * 100).round(1) %>% effective tax rate</td>
    </tr>
    <% if @model.purchase_price.to_i > 0 %>
      <tr>
        <td>Possible tax savings with 1031</td>
        <td><%= number_to_currency(@result.total_tax_without_1031 - @result.total_tax) %></td>
      </tr>
    <% end %>
  </table>
</div>
<% end %>
<div class="mt-5">
  <h1>1031 calculation form</h1>
  <form action='/' method="post">
    <div class="card">
      <div class="card-header">Seller information</div>
      <div class="card-body">
        <div class="form-group">
          <label for="income">Income</label>
          <input type="number" name="model[income]" id="income" class="form-control" value="<%= @model&.income %>">
        </div>
        <div class="form-group">
          Status (only married supported currently)
          <select name="model[filing_status]" class="form-control">
            <option value="single" disabled>Single</option>
            <option value="married">Married</option>
          </select>
        </div>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-header">Sold property</div>
      <div class="card-body">
        <div class="form-group">
          <label>Sale price</label>
          <input
            class="form-control"
            type="number"
            name="model[original_sale_price]"
            value="<%= @model&.original_sale_price %>"
          >
        </div>
        <div class="form-group">
          <label>Basis</label>
          <input
            class="form-control"
            type="number"
            name="model[original_basis]"
            value="<%= @model&.original_basis %>"
          >
        </div>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-header">Purchased property</div>
      <div class="card-body">
        <label>Purchase price</label>
        <input
          class="form-control"
          type="number"
          name="model[purchase_price]"
          value="<%= @model&.purchase_price %>"
        >
      </div>
      <!-- <p>
        Eventual sale price:
        <input
          type="number"
          name="model[purchase_property_sale_price]"
          value="<%= @model&.purchase_property_sale_price %>"
        >
      </p> -->
    </div>

    <button type="submit" class="btn btn-secondary mt-3 btn-block">Calculate</button>
  </form>
</div>
<div class="mt-5">
  <a href="https://github.com/niborg/ten_thirty_one">Code repository</a>
</div>
